body {
    background-color: #18191A;
}

p {
    margin-top: 5vh;
    top: 2vh;
    left: 3vw;
    position: relative;
    color: gray;
}

.borderphoto {
    position: relative;
    left: 4vw;
    top: 2vh;
    border: 10px solid black;
}



#paragraph {
    width: 20vw;
}

#about {
    border-radius: 10px 12px;
    background-color: #3A3B3C;
    height: 100vh;
    width: 25vw;
    border: 2px solid;
}

#links {
    width: 20vw;
    margin-top: 7vh;
    margin-left: 3vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


#center {
    position: relative;  
    background-color: violet;
    bottom: 70vh;
    left: 40vw;
    width: 30vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows:30% 40% 10% 20%;
    justify-content: center;
    align-content: center;
}

#row-1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
 #profile-photo {
    border-radius: 50px;
}
#profile-name {
    position: relative;
    top: 1vh;
    grid-column-start: 2;
    grid-column-end: 4;
    color: white;
}

#row-2 {
    height: 20vh;
}