body {
    background-color: #18191A;
}

p {
    margin-top: 5vh;
    top: 2vh;
    left: 3vw;
    position: relative;
    color: gray;
}

.borderphoto {  
    position: relative;
    left: 2vw;
    height: 80%;
    width: 80%;
    object-fit: cover;
}



#paragraph {
    width: 20vw;
}

#about {
    border-radius: 10px 12px;
    background-color: #3A3B3C;
    height: 100vh;
    width: 25vw;
    border: 2px solid;
}

#links {
    justify-self: center;
}


#center {
    position: relative;
    background-color: #242526;
    bottom: 90vh;
    left: 40vw;
    width: 25vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2fr 9fr 1fr;
    justify-content: center;
    align-content: center;
}

#row-1 {
    height: 16vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 50px);
}

#profile-photo {
    /* position: relative;
    left: 10px; */
    object-fit: cover;
    height: 80%;
    width: 80%;
    grid-row-start: 2;
    border-radius: 20px;
}

#profile-name {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    color: white;
}

#row-2 {
    padding-bottom: 0vh;
}

#row-3 {
    height: 12vh;
    position: relative;
    background-color: #3A3B3C;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: center;
}

#like {
    background-color: #3A3B3C;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-top-color: #3E4042;
    border-bottom-color: #3E4042;
}

#like>button {
    background-color: #3A3B3C;
    text-align: center;
    color: #ABAEB3;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

#like>img {
    position: relative;
    top: 3px;
    margin-right: 10px;

}

#comment {
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-top-color: #3E4042;
    border-bottom-color: #3E4042;
    background-color: #3A3B3C;
}

#comment>button {
    background-color: #3A3B3C;
    text-align: center;
    color: #ABAEB3;
    border: 0px;
    padding: 0px;
    margin: 0px;

}

#comment>img {
    position: relative;
    top: 4px;
    margin-right: 3px;
}

#share {
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-top-color: #3E4042;
    border-bottom-color: #3E4042;
    background-color: #3A3B3C;
    position: relative;
}

#share>button {
    background-color: #3A3B3C;
    text-align: center;
    color: #ABAEB3;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

#share>img {
    position: relative;
    top: 5px;
    margin-right: 10px;
}

#landscape-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: (1fr 2fr 1fr);
    align-content: center;
    justify-content: center;
}

#business-photo {
    background-color: red;
}

#link {
    margin-left: 1vw;
}
