body {
    /* background-color: #3B5998; */
    margin: 0px;
}

#header {
    height: 7vh;
    background-color: #3D5A99;
    width: 100vw;
    border: 1px solid gray;
    border-style: groove;
    border-top-style: inherit;
}

#header>img {
    position: relative;
    left: 250px;
    top: 20px;
}

#container {
    justify-items: center;
    background-color: #F0F2F5;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

#container>#form {
    height: 80vh;
    grid-column: 2/3;

}

#form-header {
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}


#form>p {
    font-size: 25px;
    font-weight: 100;
    margin-left: 10px;
}

.inputs {
    font-size: 18px;
    margin: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#full-size {
    width: 100%;
}

select {
    margin: 2px;
    width: 70px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#fifth-line {
    display: grid;
    grid-template-columns: repeat(4, 80px);

}

#sign-up-button {
    display: inline-block;
}

#sign-up-button-button {
    border-radius: 5px;
    color: white;
    font-size: 19px;
    font-weight: bold !important;
    padding: 7px 20px;
    min-width: 194px;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    border: 1px solid;
    border-color: #3b6e22 #3b6e22 #2c5115;
    
}

h4 {
    font-weight: 16px;
}

#header > a {
    position: relative;
    left: 70%;
}
